html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  --body-bg: #18b4fc;
  --btn-text-color: #2a2a2a;
  --card-text-color: #3e3e3e;
  --header-bg: rgb(47, 32, 134);
  --header-text-color: #ffffff;
  --inverted-btn-text-color: #eaeaea;
  --header-border-color: black;
  --button-border-color: white;
  --arrow-border-color: black;
  --light-dark-btn-bg: #1d1e2b;
  --light-dark-btn-content: "Dark Mode";
  background-color: var(--body-bg);
  background-image: url(/assets/snakeFavicon.png);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: grid;
  justify-content: center;

  /* snake styling */
  --snake-border: rgb(146, 255, 146);;
  --snake-background-color: green;
  /* pickup styling */
  --pickup-border: rgb(255, 128, 128);
  --pickup-background-color: red;  
}

body.dark {
  --body-bg: #22232b;
  --btn-text-color: #eaeaea;
  --card-text-color: #dedede;
  --header-bg: #39db4e;
  --header-text-color: #000000;
  --inverted-btn-text-color: #2a2a2a;
  --button-border-color: black;
  --header-border-color: white;
  --arrow-border-color: white;
  --light-dark-btn-bg: linear-gradient(to right top, #444655, #595b6b, #6f7181,
    #868898, #9ea0b0, #acaebe, #bbbccd, #cacbdc, #d2d4e5, #dadced, #e3e5f6, #ebeeff);
  --light-dark-btn-content: "Light Mode";
  background-color: var(--body-bg);
}

header {
  background-color: var(--header-bg);
  border: 3px solid var(--header-border-color);
  font-family: var(--serif);
  font-weight: 700;
  margin: 1.2rem 0 0 0;
  display: flex;
  justify-content: center;
  height: 100px;
}

header > h1 {
  font-weight: 700;
  color: var(--header-text-color);
  margin: 1.2rem 0;
  display: flex;
}

h1 {
  width: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}


#scores {
  background-color: rgb(210, 171, 255);
  border: 1.5px solid purple;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  text-align: center;
  margin: 0;
}

h2 {
  display: inline-block;
}

#current {
  text-align:left;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#highest {
  text-align:right;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0vmin;
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(116, 116, 116);
  margin-top: 0vh;
  width: 600px;
  height: 600px;
  justify-self: center;
  align-self: center;
}

.cell {
  border:1px solid #1d1e2b;
  opacity: 20%;
  height: 24px;
  width: 24px;
}

.pickup {
  border:1px solid var(--pickup-border);
  background-color: var(--pickup-background-color);
  opacity: 100%;
}

.snake {
  border:1px solid var(--snake-border);
  background-color: var(--snake-background-color);
  opacity: 100%;
}

.arrow {
  height: 5vh;
  width: 5vh;
  border: 2px solid var(--arrow-border-color);
  margin: 0 auto;
  margin-top: 1vh;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-weight: 1000;
}

#light-dark-button {
  background-color: var(--light-dark-btn-bg);
  background-image: var(--light-dark-btn-bg);
  border: 3px solid var(--button-border-color);
  width: 80px;
  height: 80px;
  margin-top: 7px;
  font-size: 1.5rem;
}

#light-dark-button::after {
  border: none;
  color: var(--inverted-btn-text-color);
  content: var(--light-dark-btn-content);
}

#restart {
  border: 3px solid var(--button-border-color);
  font-size: 1.5rem;
  text-align: center;
  vertical-align: right;
  justify-content: right;
  margin-top: 7px;
  height: 80px;
  width: 80px;
}

#arrow-up {
  height: 5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#arrow-left-down-right {
  height: 2vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.2vh;
}

@media only screen and (max-width: 768px){
  main {
    width: 300px;
    height: 500px;
    justify-content: center;
  }

  header {
    width: 300px;
    height: 80px;
  }

  .board {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0vmin;
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(116, 116, 116);
    margin-top: 0vh;
    width: 300px;
    height: 300px;
    justify-self: center;
    align-self: center;
  }
  
  .cell {
    border:1px solid #1d1e2b;
    opacity: 20%;
    height: 12px;
    width: 12px;
  }

  #scores {
    background-color: rgb(210, 171, 255);
    border: 1.5px solid purple;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    text-align: center;
    margin: 0;
  }

  #restart {
    font-size: 4vmin;
    text-align: center;
    vertical-align: middle;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
  }

  #current {
    font-size: 14px;
    text-align: center;
  }

  #highest {
    font-size: 14px;
    text-align: center;
  }

  .arrow {
    margin-top: 2vh;
    height: 10vh;
    width: 10vh;
  }

  #arrow-up {
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #arrow-left-down-right {
    height: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.2vh;
  }
}